#
# this is the configuration for DEV.
#
# this is a Fins Application configuration file.
#
[model]
class=model
debug=1
datasource=sqlite://${appdir}/config/${appname}.sqlite3

[controller]
class=controller
reload=1

[view]
class=view
reload=1

[application]
class=application

[web]
url=http://localhost:8080/

[locations]
matcases=mca
wedges=wedges
